.container {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: center;
  padding: 20px;
}

img {
  width: 100px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 10px; /* Add space between logo and title */
}

h3 {
  font-size: 24px;
  font-weight: bold;
  color: whitesmoke;
}
